# name -> event -> job -> runner -> steps: checkout, setup python, install dependencies, run tests

name: Build

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps: # two options only: uses or run
      - name: Checkout code # fetch the updates from code
        uses: actions/checkout@v6.0.2

      - name: Set Up Python
        uses: actions/setup-python@v6.2.0

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        run: pytest
      
